node_modules
backend/.env
ML/venv
ML/.env
ML/view
ML/CORScanner/
ML/PyPDF2/
ML/PySocks-1.7.1.dist-info/
ML/__pycache__/
ML/_distutils_hack/
ML/argparse-1.4.0.dist-info/
ML/argparse.py
ML/bin/
ML/certifi-2024.8.30.dist-info/
ML/certifi/
ML/charset_normalizer-3.4.0.dist-info/
ML/charset_normalizer/
ML/colorama-0.4.6.dist-info/
ML/colorama/
ML/cors-1.0.1.dist-info/
ML/distutils-precedence.pth
ML/filelock-3.16.1.dist-info/
ML/filelock/
ML/future-1.0.0.dist-info/
ML/future/
ML/gevent-24.11.1.dist-info/
ML/gevent/
ML/greenlet-3.1.1.dist-info/
ML/greenlet/
ML/idna-3.10.dist-info/
ML/idna/
ML/include/
ML/libfuturize/
ML/libpasteurize/
ML/past/
ML/pkg_resources/
ML/pypdf2-3.0.1.dist-info/
ML/requests-2.32.3.dist-info/
ML/requests/
ML/requests_file-2.1.0.dist-info/
ML/requests_file.py
ML/setuptools-75.5.0.dist-info/
ML/setuptools/
ML/socks.py
ML/sockshandler.py
ML/tldextract-5.1.3.dist-info/
ML/tldextract/
ML/urllib3-2.2.3.dist-info/
ML/urllib3/
ML/zope.event-5.0-py3.11-nspkg.pth
ML/zope.event-5.0.dist-info/
ML/zope.interface-7.1.1-py3.12-nspkg.pth
ML/zope.interface-7.1.1.dist-info/
ML/zope/
